{% extends "base.html" %}
{% block content %}
<style>
    .file-form{
        margin: auto;
        width: 50%;
        padding-left:200px;

    }
    .dataframe{
        margin: auto;
        width: 50%;
        padding:10px;
    }
    .table-with-title{
            margin-top:20px;
    }
    .select-VES-type{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .input-a-parameter, .input-k-parameter{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .input-a, .input-k{
        width:100px;
    }
    .tables-block{
        display:flex;
        justify-content:space-between;
        margin-bottom:20px;
    }


</style>

<div class="file file-form">
    <form action="http://localhost:5000/upload" method="POST"
          enctype="multipart/form-data">
        <div class="select select-VES-type">
            <p>Select VES type: </p>
            <select name="VES-type-select" id="VES-type-select">
                <option value="1" id="VES-type-1">1D</option>
                <option value="2" id="VES-type-2">2D</option>
            </select>
        </div>
        <div class="input-a-parameter" id="input-a-parameter">
            <p>Input AB: </p>
            <input class="input is-normal input-a" type="text" name="a-parameter"/>
        </div>
        <div class="input-k-parameter" id="input-k-parameter">
            <p>Input K: </p>
            <input class="input is-normal input-k" type="text" name="k-parameter"/>
        </div>
        <div class="file has-name is-right">
            <label class="file-label">
                <input class="file-input" type="file" name="file"/>
                <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
                <span class="file-name">
      {{ file_name }}
    </span>
            </label>
        </div>

        <input type="submit" class="button is-block is-info is-large is-fullwidth"/>

    </form>
</div>
<div class="tables-block" style="visibility: {{ is_hidden_plot_block }}">
    <div class="table-with-title">{{ table_title_before|safe }}<br>{{ table_before|safe }}</div>
    <div class="table-with-title">{{ table_title_after|safe }}<br>{{ table_after|safe }}</div>
</div>
<div style="visibility: {{ is_hidden_plot_block }}">
    <h1 class="title">
        1D Line plot
    </h1>
    <p>
        {{ plot_name }}
    </p>
    <img src="{{ plot_path }}" alt="Chart">
</div>
<div style="visibility: {{ is_hidden_plot_block_2d }}">
    <h1 class="title">
        2D Line plot
    </h1>
    <p>
        {{ plot_name }}
    </p>
    <img src="{{ plot_path_2d }}" alt="Chart">
</div>
<script type="text/javascript" src="{{ url_for('static', filename='functions.js')}}"></script>
{% endblock %}
