{% extends "base.html" %} {% block content %}
<style>
  .file-form {
    margin: auto;
    width: 50%;
    padding-left: 200px;
  }
  .dataframe {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .table-with-title {
    margin-top: 20px;
  }
  .select-VES-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .input-a-parameter,
  .input-k-parameter,
  .input-mn-parameter,
  .input-measurment,
  .input-measurment-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .measurments-block {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
  }
  .input-a,
  .input-k,
  .input-mn,
  .input-n {
    width: 105px;
  }
  .input-a,
  .input-mn {
    margin-right: 5px;
    margin-left: 5px;
  }
  .input-k {
    margin-left: 9.5px;
  }
  .hidden-table{
    visibility:hidden;
    display:none;
  }
  .tables-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  * {
    box-sizing: border-box;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color: #000;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .numbertext {
    color: #000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
</style>

<div class="file file-form">
  <form
    action="http://localhost:5000/upload"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="select select-VES-type">
      <p>Select VES type:</p>
      <select name="VES-type-select" id="VES-type-select">
        <option value="1" id="VES-type-1">1D</option>
        <option value="2" id="VES-type-2">2D</option>
      </select>
    </div>
    <div class="select input-a-parameter" id="input-a-parameter">
      <p>Select AB:</p>
      <select name="a-mode-select" id="a-mode-select">
        <option value="14m">14m</option>
        <option value="30m">30m</option>
        <option value="40m">40m</option>
        <option value="Custom">Custom</option>
      </select>
    </div>
    <div class="select input-mn-parameter" id="input-mn-parameter">
      <p>Select MN:</p>
      <select name="mn-mode-select" id="mn-mode-select">
        <option value="14m">14m</option>
        <option value="30m">30m</option>
        <option value="40m">40m</option>
        <option value="Custom">Custom</option>
      </select>
    </div>
    <div class="select input-k-parameter" id="input-k-parameter">
      <p>K-measured:</p>
      <input
        style="visibility: hidden"
        class="input is-normal input-k"
        type="text"
        name="k-parameter"
        id="input-k"
      />
      <select name="k-mode-select" id="k-mode-select">
        <option value="K1">K1</option>
        <option value="K2">K2</option>
        <option value="K3">K3</option>
        <option value="K4">K4</option>
        <option value="K5">K5</option>
        <option value="K6">K6</option>
        <option value="K7">K7</option>
        <option value="K8">K8</option>
        <option value="K9">K9</option>
        <option value="Custom">Custom</option>
      </select>
    </div>
    <div class="file has-name is-right">
      <label class="file-label">
        <input class="file-input" type="file" name="file" id="uploaded-file" />
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label"> Choose a file… </span>
        </span>
        <span class="file-name" id="file-name"> Upload your file </span>
      </label>
    </div>
    <div>
      <input
        type="submit"
        class="button is-block is-info is-large is-fullwidth"
      />{% with messages = get_flashed_messages() %} {% if messages %}
      <div class="notification is-danger small">{{ messages[0] }}</div>
      {% endif %} {% endwith %}
    </div>
  </form>
</div>

<div class="tables-block" style="visibility: {{ is_hidden_plot_block }}">
  <div class="table-with-title">
    <span class="title">The recalculated table is:</span><br /><br />{{ final_df
    | safe }}
    <a href="{{ url_for('uploads.download', filename = uid +'.csv')}}">
      <button class="button is-link">
        <span>Save recalculated csv</span>
      </button>
    </a>
  </div>
</div>
<div class="slideshow-container" style="visibility: {{is_hidden_plot_block}};">
  {% for table in result %}
  <div class="mySlides fade">
    <div class="numbertext">{{ loop.index }} / {{ loop.length }}</div>
    <img
      style="width: 100%"
      src="{{ table['path_to_upload_1d_plot'] }}"
      alt="Chart"
    />
  </div>
  {% endfor %}
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<!-- The dots/circles -->
<div style="text-align: center">
  {% for i in result%}
  <span class="dot" onclick="currentSlide({{ loop.index }})"></span>
  {% endfor %}
</div>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='functions.js')}}"
></script>
{% endblock %}
